footer {
  padding: 20px 40px 0px 40px;
  background-color: #798291;
}
.jumbotron {
  background-color: #798291;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  min-block-size: 0%;
}
.footer-column {
  flex-direction: column;
  justify-content: space-around;
}
.modulos-prepa {
  flex: 1 100px;
  padding: 2px 0px 2px 0px;
  margin-top: 10;
  margin-bottom: 0;
  justify-content: space-between;
}
.boton-ir {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10;
  border-radius: 0;
}
.menu_ppal {
  padding: 2px 10px 2px 2px;
}
.icon_caract {
  padding: 2px 5px 2px 2px;
}
