footer {
  padding: 20px 40px 0px 40px;
  background-color: #f5f000; }

.jumbotron {
  background-color: #f5f000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
  min-block-size: 0%; }

.footer-column {
  flex-direction: column;
  justify-content: space-around; }

.modulos-prepa {
  flex: 1 100px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  justify-content: space-between; }

.boton-ir {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 0; }

.menu_ppal {
  padding: 2px 10px 2px 2px; }

.icon_caract {
  padding: 2px 5px 2px 2px; }

/*# sourceMappingURL=styles.css.map */
